# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

testdata/*.gpl
cmd/png256/png256
cmd/png2gpl/png2gpl
cmd/png2png/png2palette
cmd/png2act/png2act
cmd/websafe/websafe
cmd/burn/burn
cmd/plan9/plan9

cmd/websafe/*.png
cmd/plan9/*.png
cmd/burn/*.png
cmd/plan9/plan9.gpl
cmd/png2gpl/burn.gpl
cmd/burn/burn.gpl
cmd/png2png/png2png
